/1.jpg
/2.jpg
/3.jpg
/4.jpg
/a.png
/i1.png
/i2.png
/i3.png
/i4.png
/img-sprite.png
/img1.png
/lock.png
/mail.png
/search-icon.png
/slider1.jpg
/slider2.jpg
/slider3.jpg
/slider4.jpg
/slider5.jpg
/slider6.jpg
/slider7.jpg
/tick.png
/user.png
/weather.jpg
