/AdministratorMapper.java
/AdministratorMapper.xml
/CashticketMapper.java
/CashticketMapper.xml
/CinemaMapper.java
/CinemaMapper.xml
/EvaluateMapper.java
/EvaluateMapper.xml
/GroupsMapper.java
/GroupsMapper.xml
/MovieMapper.java
/MovieMapper.xml
/OrdersMapper.java
/OrdersMapper.xml
/PaipianMapper.java
/PaipianMapper.xml
/PictureMapper.java
/PictureMapper.xml
/PlatformMapper.java
/PlatformMapper.xml
/RoomMapper.java
/RoomMapper.xml
/SeatMapper.java
/SeatMapper.xml
/TicketMapper.java
/TicketMapper.xml
/UserMapper.java
/UserMapper.xml
/ViptableMapper.java
/ViptableMapper.xml
