/Administrator.java
/AdministratorExample.java
/Cashticket.java
/CashticketExample.java
/Cinema.java
/CinemaExample.java
/Evaluate.java
/EvaluateExample.java
/Groups.java
/GroupsExample.java
/Movie.java
/MovieExample.java
/Orders.java
/OrdersExample.java
/Paipian.java
/PaipianExample.java
/Picture.java
/PictureExample.java
/Platform.java
/PlatformExample.java
/Room.java
/RoomExample.java
/Seat.java
/SeatExample.java
/Ticket.java
/TicketExample.java
/User.java
/UserExample.java
/Viptable.java
/ViptableExample.java
